body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    margin: 0;
    padding: 0;
}
h2 {

    margin: 0;
    padding-top: 32px;
}
.container {
    width: 90vw;
    max-width: 900px;
    margin: auto;
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: #000000;
    color: whitesmoke;
    padding: 8px 0px;
    width: 100%;
    text-align: center;
}
#navbar {
    list-style: inline;
    background-color: #000000;
    color: whitesmoke;
    position:-webkit-sticky;
    position: sticky;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0px;
}

#nav-list {
    list-style-type: none;
    /* background-color: #f1f1f1; */
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* border: 1px solid #000000;
    max-width: 200px; */
}

#nav-list li {
    text-align: center;
    /* display: inline; */
    float: left;
    /* border-bottom: 1px solid #000000; */
}
#nav-list li a {
    display: block;
    color: whitesmoke;
    /* color: #000000; */
    padding: 8px 20px;
    text-decoration: none;
}
#nav-list li a:first-child {
    padding-left: 0px;
}
#nav-list li a:hover {
    background-color: #555555;
    color: white;
}

#welcome-section {
    min-height: 100vh;
}

#projects {
    min-height: 100vh;
}

#contact {
    min-height: 100vh;
}


.project-tile {

}

#profile-link {
    /* min-height: 100vh; */
}